.login-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    border: 1px solid black;
    max-width: 50%;
    align-items: center;
    margin: auto;
    padding: 5%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.form {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.form-fields {
    text-align: center;
}

.form-button {
    display: flex;
    flex-direction: row;
    /* align-content: center; */
    justify-content: center;
    padding-top: 5px;
}